@keyframes Flasher {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.indicator {
  gap: 0.5rem;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: line-through;
  }

  @media (max-width: 539px) {
    margin-bottom: 0.5rem;
  }

  &__text {
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 1.75rem;
    letter-spacing: 0.225rem;
    text-transform: uppercase;
  }

  &__led,
  &__led__disabled {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: Flasher 1.1s linear infinite;
  }

  &__led {
    background-color: var(--green);
  }

  &__led__disabled {
    background-color: var(--yellow);
  }
}
